/*ceci est un comentaire */
:root{
    --yellow : #f7f6cf;
    --paleTurquoise:#b6d8f2;
    --linen : #f4cfdf;
    --steelblue :#5784ba;
    --skyblue : #9ac8eb;
    --vert : #ccdbe2;
    --redF : #CFCB;
    --blancc : #efeff1;
    --bluenuit : #141e30;
    --vert:#8eb695;
    --rose:#fb9da7;
    --blue:#0b4b88;
    --blanc : #ffffff;
    --tblanc: var(50/100 --blanc)
    box-sizing:border-box;
    
}
*{
    box-sizing: inherit;
}
#mainHeader{
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
}
#LogoImg{
    height: 60px;
    width: 60px;
    padding-top: 0px;
    padding-left: 2px;
    z-index: 1000;
    position: relative;
}


body{
    font-family: "Ink Free";
    color: var(--bluenuit);
    font-size: 1rem;
}
 .accessibility{
     position: absolute;
     left: -15000px;
 }
 #mainHeader, #mainFooter {
     background-color : var(--steelblue)
 }
  main p {
      font-size: 20pt;

 }
 #mainnav a {
     color: var(--rose);
     text-decoration: none;
     font-size: 1.5em;
 }
 #mainnav a:hover{
     color : var(--redF);

 }
 #mainnav a:active{
    color: var(--blancC);

}
img{
    max-width: 100%;
    height: auto;
}
#vv-img{

}

p{
    color:var(--bluenuit);
    text-align: center;
}
aside {
    color: rgb(53, 24, 46);
}
#mainnav h1 {
    color : var(--orange);
    display: none;
}
#mainnav{
   background-color: var(--vert);
  position:absolute;
   width: 100%;
   top: 40px;
   padding-bottom: 10px;
  display: none;

}
#mainnav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#mainHeader > h1 {
    color : var(--blanc);
    font-size: 2em;
    display: none;
    

}


#mainFooter {
    text-align: center;
    color: var(--blanc);
    font-weight: bold;
    height: 100px;
    font-size: 10px;
    /*la position se fais avec ces deux proprietés */
    position: fixed;
    bottom: 0;
    width: 100%;
    /*le menu et le footer vont t etre fixer mm si tu balance la souris */
}
#pageContent{
    background: url(/image/tt.jpg) center center/ cover no-repeat fixed;
    padding: 100px 20px;
    min-height: 100vh;
    
}
#pageContent.text h1{
    font-size: 1.8em;
    color: var(--blue);
    letter-spacing: .1em;
    margin: 50px;
}
#pageContent.text dl{
   border: 1px solid var(--bluenuit);
   border-radius: 20px;
   background-color: var(--tblanc);
   padding: 20px;
   color: var(--bluenuit);
}
#pageContent.text dl dt{
   font-weight: bold;
   font-size: 1.2em;
}
#pageContent.text dl dd{
   margin: 10px 0 10px 20px;
}
#pageContent.text img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
main{
    background-color: #f7f6cfa1;
    padding: 20px;
}
