/*ceci est un comentaire */
:root{
    --yellow : #f7f6cf;
    --paleTurquoise:#b6d8f2;
    --linen : #f4cfdf;
    --steelblue :#5784ba;
    --skyblue : #9ac8eb;
    --vert : #ccdbe2;
    --redF : #CFCB;
    --blancc : #efeff1;
    --bluenuit : #141e30;
    --vert:#8eb695;
    --rose:#fb9da7;
    --blue:#0b4b88;
    --blanc : #ffffff;
    --tblanc: #ffffff94;
    box-sizing:border-box;
    --rouge:rgb(121, 15, 15);
    
}
*{
    box-sizing: inherit;
}
#mainHeader{
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
}
#LogoImg{
    height: 60px;
    width: 60px;
    padding-top: 0px;
    padding-left: 2px;
    z-index: 1000;
    position: relative;
}


body{
    font-family: "Ink Free";
    color: var(--bluenuit);
    font-size: 1rem;
}
 .accessibility{
     position: absolute;
     left: -15000px;
 }
 #mainHeader, #mainFooter {
     background-color : var(--steelblue)
 }
  main p {
      font-size: 20pt;

 }
 #mainnav a {
     color: var(--rose);
     text-decoration: none;
     font-size: 1.5em;
 }
 #mainnav a:hover{
     color : var(--redF);

 }
 #mainnav a:active{
    color: var(--blancC);

}
img{
    max-width: 100%;
    height: auto;
}
#vv-img{

}

p{
    color:var(--bluenuit);
    text-align: center;
}
aside {
    color: rgb(53, 24, 46);
}
#mainnav h1 {
    color : var(--orange);
    display: none;
}
#mainnav{
   background-color: var(--vert);
  position:absolute;
   width: 100%;
   top: 40px;
   padding-bottom: 10px;
  display: none;

}
#mainnav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#mainHeader > h1 {
    color : var(--blanc);
    font-size: 2em;
    display: none;
    

}


#mainFooter {
    text-align: center;
    color: var(--blanc);
    font-weight: bold;
    height: 100px;
    font-size: 10px;
    /*la position se fais avec ces deux proprietés */
    position: fixed;
    bottom: 0;
    width: 100%;
    /*le menu et le footer vont t etre fixer mm si tu balance la souris */
}
#pageContent{
    background: url(/image/tt.jpg) center center/ cover no-repeat fixed;
    padding: 100px 20px;
    min-height: 100vh;
    
}
#pageContent h1{
    font-size: 3em;
    color: var(--blue);
    letter-spacing: .1em;
    margin: 50px;
}
#pageContent.text dl{
   border: 1px solid var(--bluenuit);
   border-radius: 20px;
   background-color: var(--tblanc);
   padding: 20px;
   color: var(--bluenuit);
}
#pageContent.text dl dt{
   font-weight: bold;
   font-size: 1.2em;
}
#pageContent.text dl dd{
   margin: 10px 0 10px 20px;
}
#pageContent.text img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
#pageContent.galleries ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#pageContent.galleries ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
} 
#pageContent.galleries ul li{
  background-color: var(--tblanc);
  padding: 10px;

}
#pageContent.galleries ul li a{
    background-color: var(--bluenuit);
    text-decoration: none;
  
  }
  #pageContent.galleries ul li:hover{
    background-color: var(--vert);
    
  
  }

main{
    background-color: #f7f6cfa1;
    padding: 20px;
}
#pageContent.contact form{
    border-top: solid 1px var(--rouge);
}
#pageContent.contact form>div>div{
    margin: 20px 0;
}
#pageContent.contact form label{
    margin-bottom: 5px;
    font-size: 1.3em;
}
#pageContent.contact form textarea{
   height: 150px;
   /*desactiver le redimentionnement de la textarea*/
   resize: none;
}
#pageContent.contact form button{
   padding: 10px;
   background-color: var(--blue);
   color: var(--tblanc);
   border: none;
   margin-top: 30px;
}
#pageContent.contact form button:active{
    background-color: var(--steelblue);
}
#pageContent.contact form button:hover{
   background-color: rgb(121, 15, 15)
}
#pageContent.blogList #leftCol article {
    padding: 20px;
}
/* si je veux remmetre en couleur les article j utilise les pseudo : ....article:first-child -> seullement le 1 article*/
/* le dernier article -> :... article:last-child */
/*si je veux le n eme article -> ..article:nth-child(num du paragraphe )*/
/*et si je veux remmetre les article paire -> ..article:nth-child(even) et si je veux les impaire (odd)*/
#pageContent.blogList #leftCol article:nth-child(even) {
 background-color: var(--yellow);
}
#pageContent.blogList #leftCol article:nth-child(odd) {
    background-color: var(--linen);
   }

#pageContent.blogList #leftCol article header{
    border-bottom: 1px solid var(--rouge);
}
#pageContent.blogList #leftCol article header h1{
    margin: 0;
    color: green;
    font-size: 1.3em;
}
#pageContent.blogList #leftCol article header p{
   font-size: .8em;
    font-style: italic;
}

#pageContent.blogList #leftCol article  a{
    color: var(--rouge);
    text-decoration: none;
}
#pageContent.blogList #leftCol article  a:hover{
    
    text-decoration: underline;
}
#pageContent.blog #rightCol{
    background-color: var(--bluenuit);
    padding: 20px;
}
#pageContent.blog #rightCol section{
    border: 1px solid var(--yellow);
    padding-bottom: 20px;
}
#pageContent.blog #rightCol section>h1{
    color: var(--yellow);
    font-size: 1.3em;
}
#pageContent.blog #rightCol #blocSearch input{
    width: 100%;
    border-radius: 10px;
}
#pageContent.blog #rightCol ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
#pageContent.blog #rightCol ul li ,#pageContent.blog #rightCol h2{
   background-color: var(--yellow);
}
#pageContent.blog #rightCol li a span,#pageContent.blog #rightCol h2  span{
   width: 20px;
   height: 20px;
   font-size: 12px;
   border-radius: 50%;
   background-color: var(--redF); 
   color: var(--yellow);
}
#pageContent.blog #rightCol li a:hover,#pageContent.blog #rightCol h2 a:hover{
    background-color: var(--linen);
   
}
#pageContent.blog #rightCol li a:hover span,#pageContent.blog #rightCol h2 a:hover span{
    background-color: var(--yellow);
    color: var(--rouge);
}
#pageContent.blog #rightCol ul li:first-child,#pageContent.blog #rightCol ul li:first-child a:hover{
    border-radius: 10px 10px 0 0;
}
#pageContent.blog #rightCol ul li:last-child,#pageContent.blog #rightCol ul li:last-child a:hover{
    border-radius:0 0 10px 10px ;
}
#pageContent.blog #rightCol h2,#pageContent.blog #rightCol h2 a:hover{
    border-radius: 10px;
}